<h1>'FORMULARIO EN PLANTILLAS'</h1>

<form action="">
    <div>
        <label for="">Nombre del Curso:</label>
        <input type="text" [(ngModel)]="clase.nombre" name="nombre">
    </div>

    <div>
        <label for="">Profesor:</label>
        <select [(ngModel)]="clase.profesor" name="profesor">
            <option value="Giancarlo">Giancarlo</option>
            <option value="Maria">Maria</option>
        </select>
    </div>

    <button type="submit">Agregar clase</button>

    {{ clase | json }}

</form>