/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(200, 38, 38);
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

div{
    margin: 15px;
}